
.vs/slnx.sqlite
*.json
Lesson 01/.vs/Lesson 01/v16/.suo
Lesson 01/Lesson 01.sln
Lesson 1/.vs/Lesson 1/v16/.suo
Lesson 1/Lesson 1.sln
Lesson 1/Lesson 1/bin/Debug/net5.0/Lesson 1.dll
Lesson 1/Lesson 1/bin/Debug/net5.0/Lesson 1.exe
Lesson 1/Lesson 1/bin/Debug/net5.0/Lesson 1.pdb
Lesson 1/Lesson 1/bin/Debug/net5.0/ref/Lesson 1.dll
Lesson 1/Lesson 1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Lesson 1/Lesson 1/obj/Debug/net5.0/apphost.exe
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.AssemblyInfo.cs
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.AssemblyInfoInputs.cache
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.assets.cache
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.csproj.CoreCompileInputs.cache
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.csproj.FileListAbsolute.txt
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.dll
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.GeneratedMSBuildEditorConfig.editorconfig
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.genruntimeconfig.cache
Lesson 1/Lesson 1/obj/Debug/net5.0/Lesson 1.pdb
Lesson 1/Lesson 1/obj/Debug/net5.0/ref/Lesson 1.dll
Lesson 1/Lesson 1/obj/Lesson 1.csproj.nuget.g.props
Lesson 1/Lesson 1/obj/Lesson 1.csproj.nuget.g.targets
Lesson 1/Lesson 1/obj/project.nuget.cache
